.container {
  display: flex;
  border: 1px solid var(--color-base-400);
  gap: 20px;
  max-width: fit-content;
  padding: 0 10px;
  border-radius: 999999px;
  align-self: center;
  cursor: pointer;
}

.attributeValue {
  text-wrap: nowrap;
}

.cross {
  width: 13px;

  stroke: var(--color-base-400);
}
