@import '../../_css/common';

.container {
  width: 100%;

  .attributes-pill {
    &--desktop {
      display: flex;
      gap: 20px;
      grid-column: span 2;

      @include large-break {
        grid-column: span 1;
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include large-break {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
      }
    }
  }

  &-attributes-list {
    &--desktop {
      @include large-break {
        display: none;
      }
    }

    &--mobile {
      display: none;

      @include large-break {
        display: block;
      }
    }
  }
}

.products {
  display: grid;
  grid-template-columns: 1fr 75%;
  gap: 60px;

  @include large-break {
    grid-template-columns: 100%;
    gap: 48px;
  }
}
