@use '../../../_css/queries.scss' as *;

.card {
  position: relative;
  display: grid;
  grid-auto-rows: auto;
  gap: 5px;
  background-color: var(--color-dark-50);
  cursor: pointer;
}

.image {
  display: block;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.title {
  text-align: center;
}
