@import '../../../_css/common';

.container {
  display: grid;
  row-gap: 40px;
  margin-top: 50px;
}

.title {
  & span {
    color: var(--color-orange-500);
  }
}

.subtitle {
  font-size: 25px;
  line-height: 1.2;
  font-weight: 700;
}

.container-grid-four-column {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 25px;
  row-gap: 20px;

  @include small-break {
    grid-template-columns: minmax(0, 1fr);
  }
}

.video {
  grid-column: span 3;
  aspect-ratio: 16 / 9;
}

.iframe {
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 10px;
}

.description-container {
  grid-column: span 1;
  grid-row: span 2;

  @include small-break {
    grid-column: span 1;
  }
}

.description {
  font-size: 16px;
  white-space: pre-line;

  margin-bottom: 20px;
}

.text-with-check-icon {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 20px;
  height: max-content;

  &-item {
    display: flex;
    gap: 5px;
  }

  &-text {
    font-size: 16px;
  }

  @include small-break {
    grid-template-columns: minmax(0, 1fr);
    place-items: center;
  }
}

.check {
  height: 26px;
  width: 26px;
  & path {
    stroke: var(--color-orange-500);
    stroke-width: 3;
  }
}

.buttons-container {
  display: grid;
  row-gap: 20px;

  @include small-break {
    place-items: center;
  }
}

.button {
  display: block;
  width: 80%;
  padding: 12px 24px;
  font-size: 19px;
  background: var(--color-orange-500);
  border-radius: 5px;
  text-align: center;
}

.hide-on-mobile {
  display: grid;

  @include small-break {
    display: none;
  }
}

.hide-on-desktop {
  display: none;

  @include small-break {
    display: grid;
  }
}
