.swiper-pagination {
  bottom: 0 !important;
}

.swiper-pagination-bullet {
  background: var(--color-white-500) !important;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: var(--color-orange-500) !important;
  opacity: 1;
}
