@import '../../../_css/common';

.filters {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include large-break {
    gap: 40px;
    width: 100%;
  }

  @include small-break {
    margin-top: 16px;
    gap: 20px;
    width: 100%;
  }
}

.categories {
  &--desktop {
    display: grid;
    grid-template-columns: 1fr;
    gap: 14px;
    margin-top: 16px;

    @include large-break {
      display: none;
    }
  }

  &--mobile {
    display: none;

    @include large-break {
      display: block;
    }

    &--title {
      display: flex;
      gap: 16px;
      white-space: nowrap;
    }

    &--arrow-back {
      font-size: 40px;
      transform: rotate(45deg);
    }

    &--list {
      display: grid;
      gap: 16px;
      margin-top: 20px;

      @include large-break {
        grid-template-columns: repeat(3, 1fr);
      }

      @include small-break {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

.subcategory {
  & ul {
    padding-left: 20px;
  }

  @include large-break {
    padding-left: 0;
    display: none;
  }
}

.item {
  text-decoration: none;
  padding-left: 0;
  text-align: center;
}
.itemActive {
  text-decoration: underline;
  cursor: pointer;
  padding-left: 0;
  font-weight: bold;
  text-align: center;
}

.categoryCard {
  display: none;

  @include large-break {
    display: block;
  }
}

.title {
  white-space: nowrap;
}

.priceSlider {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.sliderWrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;

  p {
    white-space: nowrap;
  }
}

.hr {
  margin: 20px 0;
}
